* {
font-family: Arial, Verdana, sans-serif, JelleeBold;
    color: #665544;
    text-align: center;
}

body {
background-image: url("https://media.istockphoto.com/id/1223364491/vector/cartoon-beach-landscape-summer-background.jpg?s=170667a&w=0&k=20&c=aLvYP_6qRfm4yvSJpEbQT4Zbi7JFY8P7CM1hCoN_LRg=");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
}

#nav {
background-color:violet
}

#feature {
background-color: purple;
background-image: url("https://images.template.net/99504/free-smiley-face-clipart-r05sr.jpg");
background-size:contain;
background-position: right;
background-repeat:no-repeat;
}

#footer {
background-color:purple
}

.column1{
background-color:red}
.column2{
background-color:blue}
.column3{
background-color:green}

h1 {
font-family: JelleeBold;
font-weight: normal;
font-style: normal;
}

body {
    width: 90%;
    margin: 0 auto;}
  #content {
    overflow: auto;}
  #nav, #feature, #footer {
    margin: 1%;}
  .column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
  .column3 {
    margin-right: 0%;}
  li {
    display: inline;
    padding: 0.5em;}
  #nav, #footer {
    padding: 0.5em 0;}
  #nav {
    background-color: yellow
  }
  #footer {
    background-color: pink
  }
  #feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: red;}
