.menu {
position:fixed;
top:0px;
left:0px; 
padding:0px;
margin:0px;
width:100%;
background-color:lightblue;
text-align:center; 
z-index:10;
font-family: 'JustLettersMedium'; 
font-weight: normal; 
font-style: normal; 
font-size:20px;
}

body {
  background-image:url(https://cdn.akamai.steamstatic.com/steam/apps/236390/ss_74240f43f87b1caf2dd578f26dfd025ca4fdf19c.1920x1080.jpg?t=1681461045);
}

.leftimages{
 border: 1px solid black;
 width: 12%;
 height: 60px;
 float:left;
}
 
.rightimages{
 border: 1px solid black;
 width: 12%;
 height: 60px;
 float:left;
}

.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

#container {
 margin-top:20%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}
