.menu {
  position:fixed;
  top:0px;
  left:0px; 
  padding:0px;
  margin:0px;
  width:100%;
  background-color:lightgreen;
  text-align:center; 
  z-index:10;
  font-family: 'JustLettersMedium'; 
  font-weight: normal; 
  font-style: normal; 
  font-size:20px;
}

body {
  background-image:url(https://cdn.akamai.steamstatic.com/steam/apps/236390/ss_74240f43f87b1caf2dd578f26dfd025ca4fdf19c.1920x1080.jpg?t=1681461045);
}

#div1 #div2 {
 border:solid 1px;
 padding: 10px;
 margin:auto;
 text-align:center;
 float:left;
 height: 200px;
 width: 200px;
}

img {
  height:400px;
  width:400px;
}

h1 {
  text-align:center;
}
