h1 {
text-align:center;
}

.images {
position: relative;
text-align:center;
display: flex;
justify-content: center;
flex-direction: column;
align-items:center;
}
.images img {
display: none;
width: 40%;
height: auto;
}
.images img.active {
display: block;
}

.images p {
display: none;
text-align: center;
}
.images p.active {
display: block;
}

.previousbutton {
float:left;
}

.nextbutton {
float:right;
}

